parameters:
  level: max
  paths:
    - app/_config.php
    - app/src
    - app/tests
  excludePaths:
    - ecs.php
    - rector.php
  ignoreErrors:
    -
      # Ignore iterable typed array properties https://github.com/phpstan/phpstan/discussions/7287
      message: "#Property [a-zA-Z0-9\\$\\_\\\\:\\(\\)]+ type has no value type specified in iterable type array#"
      identifier: missingType.iterableValue
      reportUnmatched: false
    -
      # Prefer dynamic calls in PHPUnit
      messages:
        - '#Dynamic call to static method PHPUnit\\Framework\\#'
        - '#Dynamic call to static method SilverStripe\\Dev\\FunctionalTest#'
        - '#Dynamic call to static method SilverStripe\\Dev\\SapphireTest#'
      identifier: staticMethod.dynamicCall
      reportUnmatched: false
    -
      # PHPStan does not support T of Page
      message: "#^PHPDoc tag @template T for class PageController with bound type Page is not supported\\.$#"
      identifier: generics.notSupportedBound
